.clients {
	display: flex;
	flex-direction: column;
	background-color: #f5f3ef;
	justify-content: center;
	align-items: center;
	padding: 15px 15px;
}
.clients a.button {
	font-size: 24px;
}
@media (min-width: 768px) {
	.clients {
		flex-direction: row;
		flex-wrap: wrap;
		padding: 15px 0px;
	}
	.clients a.button {
		margin: 0 15px;
	}
}
