.stillDoubt {
	background: var(--main-pink);
}

.stillDoubt h3 {
	color: #000;
	margin-top: 24.9px;
	font-family: Raleway;
	font-weight: 500;
	font-size: 22px;
	margin-bottom: 0px;
	text-align: left;
}

.stillDoubt p {
	color: #000;
	margin-bottom: 24.9px;
	font-family: Raleway;
	font-weight: 500;
	font-size: 17px;
	margin-top: 5px;
	text-align: left;
}

.stillDoubt .first-content,
.stillDoubt .second-content,
.stillDoubt .third-content {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	margin-bottom: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.stillDoubt .second-content .iframe-container + .iframe-container {
	margin-left: 15px;
}

.stillDoubt .third-content div {
	width: 100%;
}

@media (min-width: 768px) {
	.stillDoubt {
		padding: 15px 0;
	}
	.stillDoubt .first-content {
		margin-bottom: 0;
	}
	.stillDoubt .first-content .first-content-description {
		width: 50%;

		padding: 15px;
	}
	.stillDoubt .first-content .iframe-container {
		width: 50%;
		min-height: 200px;
		padding: 15px 15px 15px 0px;
		height: 28vw;
		box-sizing: border-box;
	}
	.stillDoubt .first-content .iframe-container iframe {
		width: 100%;
		height: 100%;
		position: initial;
	}
	.stillDoubt .second-content .iframe-container {
		padding: 15px;
		height: 19.3vw;
		box-sizing: border-box;
		min-height: 157px;
	}
	.stillDoubt .second-content .iframe-container iframe {
		width: 100%;
		height: 100%;
		position: initial;
	}
	.stillDoubt .second-content .iframe-container + .iframe-container {
		margin-left: 0px;
	}
}
