.intro {
	text-align: center;
	margin-top: -10px;
}

.intro-background {
	padding-top: 300px;
	padding-bottom: 200px;
}

.intro-content {
	max-width: 1034px;
	margin: auto;
	padding: 15px;
}

.intro-content h1 {
	color: #fff;
	font-family: Raleway;
	font-size: 40px;
	font-weight: 500;
	line-height: 1.2;
}

.intro-background p {
	color: #fff;
	font-weight: 400;
	font-size: 30px;
}

.intro-background a button {
	background-color: #fff;
	color: #000;
	font-family: Raleway;
	font-size: 20px;
	letter-spacing: 1px;
	border: none;
	padding: 15px;
}
